<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noble.noble.mapper.NobleMapper">
    <insert id="insertNoble" parameterType="Noble">
        INSERT INTO noble (nickname, main_char, level, job, dojang, dojang_agree, grantor)
        VALUES (#{nickname}, #{mainChar}, #{level}, #{job}, #{dojang}, #{dojangAgree}, #{grantor})
    </insert>

    <select id="getNobleListForTotal" parameterType="map" resultType="Noble">
        SELECT * FROM noble WHERE main_char is null
            <if test="searchStr != ''"> AND nickname LIKE '%${searchStr}%'</if>
        ORDER BY ${order}
    </select>

    <select id="getNobleSubList" parameterType="String" resultType="String">
        SELECT nickname FROM noble WHERE main_char = #{mainChar}
    </select>

    <select id="getMainCharFromNoble" parameterType="String" resultType="String">
        SELECT main_char FROM noble WHERE nickname LIKE '%${searchStr}%' AND main_char is not null
    </select>

    <select id="getNobleList" parameterType="map" resultType="Noble">
        SELECT * FROM noble
            <if test="type == 1 and searchStr != ''"> WHERE nickname LIKE '%${searchStr}%'</if>
            <if test="type == 2 and searchStr != ''"> WHERE level >= ${searchStr}</if>
            <if test="type == 3 and searchStr != ''"> WHERE job LIKE '%${searchStr}%'</if>
            <if test="type == 4 and searchStr != ''"> WHERE dojang >= ${searchStr}</if>
        ORDER BY ${order}
    </select>

    <select id="getNoble" parameterType="int" resultType="Noble">
        SELECT * FROM noble WHERE idx = #{idx};
    </select>

    <update id="updateNoble" parameterType="Noble">
        UPDATE noble
            <set>
                <if test="nickname != null or nickname != ''">nickname = #{nickname},</if>
                <if test="mainChar != null or mainChar != ''">main_char = #{mainChar},</if>
                <if test="level != null or level != ''">level = #{level},</if>
                <if test="job != null or job != ''">job = #{job},</if>
                <if test="dojang != null or dojang != ''">dojang = #{dojang},</if>
                <if test="exemptedDate != null or exemptedDate != ''">exempted_date = #{exemptedDate},</if>
                <if test="dojangAgree != null or dojangAgree != ''">dojang_agree = #{dojangAgree},</if>
                <if test="grantor != null or grantor != ''">grantor = #{grantor},</if>
            </set>
        WHERE idx = #{idx}
    </update>

    <delete id="deleteNoble" parameterType="int">
        DELETE FROM noble WHERE idx = #{idx}
    </delete>

    <delete id="deleteNobleFromMain" parameterType="String">
        DELETE FROM noble WHERE main_char = #{mainChar}
    </delete>

    <select id="getNobleForDojang" resultType="Noble">
        SELECT * FROM noble
    </select>

    <select id="getNobleNickname" resultType="String">
        SELECT nickname FROM noble
    </select>

    <select id="getAdmin" resultType="String">
        SELECT nickname FROM noble WHERE admin = 1
    </select>

    <select id="getNobleCount" resultType="int">
        SELECT COUNT(*) FROM noble
    </select>
</mapper>